# Ignore images

*.jpg


.DS_Store
.ipynb_checkpoints
.ipynb_checkpoints
.ipynb_checkpoints
mlruns/
old_working_models/

# Old csv files
recycle_labels.csv
test_recycle_2023-04-11.csv
val_recycle_2023-04-11.csv
train_recycle_partially_balanced_2023-04-11.csv

MJS_model1.ipynb
predictions.ipynb
Object_detection.ipynb



Information_loss_augmentations.xlsx